.stats {
  padding: 4.2rem 0;
}

.stats__title {
  margin-top: 0;
  margin-bottom: 3.2rem;
  font-size: 3.2rem;
}

.stats__controls {
  padding: 2.4rem 2rem;
  border-radius: 0.8rem;
  background-color: $bg-light;
  box-shadow: 0 0 1.2rem $shadow;

  @media (min-width: $desktop-width) {
    border-radius: 1.6rem;
    box-shadow: 0 0 2rem $shadow;
  }
}

.stats__controls-title {
  margin-top: 0;
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.stats__form-item {
  display: block;
  margin: 0;
  margin-bottom: 1.6rem;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.stats__radio-wrap {
  display: block;
  border: none;
  border-radius: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.6rem;
  }
}

.stats__radio-label {
  display: block;
  margin-bottom: 1.2rem;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.stats__radio {
  appearance: none;
  border: none;

  &:checked ~ .stats__radio-text {
    color: $accent;
    border-color: $accent;
  }
}

.stats__toggle {
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 1rem;
  height: 1rem;
  color: $text-neutral;
  transition-property: transform;
  transition-duration: 300ms;
  transform: translateY(-70%) rotate(-45deg);
  pointer-events: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    border-radius: 100em;
    background-color: currentColor;
  }

  &::before {
    top: 0;
    height: 100%;
    width: 0.2rem;
  }

  &::after {
    bottom: 0;
    height: 0.2rem;
    width: 100%;
  }
}

.stats__button-wrap {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.6rem;
  }
}

.stats__button {
  margin-bottom: 1.6rem;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
