
/* COLORS */
$text-main: #050a35;
$text-invert: #ffffff;
$text-neutral: #b8bcc6;

$bg-main: #fbfbfb;
$bg-light: #ffffff;

$border-main: #acbbce;

$shadow: rgba(59, 66, 86, 0.08);

$accent: #524fff;

$error: #da002c;
/* MEDIA QUERIES */

$tablet-width: 600px;
$desktop-width: 900px;

$container-width: 1200px;
