<footer class="page__footer footer">
  <div class="container">
    <a class="logo footer__logo" href="" target="_blank">
      <img class="logo__image" src="" width="55" height="12" alt="Логотип">
    </a>
  </div>
</footer>
