<div class="popup js-popup" data-popup="callme">
  <div class="popup__underlay js-popup-underlay"></div>
  <div class="popup__content-wrap">
    <div class="popup__content">
    </div>
  <div class="popup__close-wrap">
    <button class="popup__close js-popup-close">
      <svg class="popup__close-icon">
        <use href="#cross"></use>
      </svg>
    </button>
  </div>
</div>
